        <!-- Portfolio -->
        <div id="porfolio" class="parallax-bg2" style="background-position: 50% 0%;" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row margin-top-40">
                    {% for item in site.data._models.portfolio %}
                      <!-- Portfolio Item -->
                      <div class="portfolio-item col-sm-4 col-xs-6 margin-bottom-40">
                          <a href="#">
                              <figure class="animate {% cycle 'fadeInLeft', 'fadeInUp', 'fadeInRight' %}">
                                  <div class="grid-image">
                                      <div class="featured-info">
                                          <div class="info-wrapper">{{ item.gallery_text }}</div>
                                      </div>
                                      <img alt="{{item.gallery_alt}}" src="{{item.gallery_image.url}}">
                                  </div>
                              </figure>
                          </a>
                      </div>
                      <!-- End Portfolio Item -->
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End Portfolio -->